<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"></properties>
	<!-- 配置二级缓存 -->
	<settings>
		<!-- 是否延迟加载 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 是否取消消极加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!-- 是否启动二级缓存
		<setting name="cacheEnabled" value="true"/> -->
	</settings>
		<!-- 实体取别名  类ming/类名首字母小写 -->
		<!-- <typeAliases>
			<package name="cn.com.model"/>
		</typeAliases> -->

	<!-- 映射文件的配置 -->
	<mappers>
		<package name="com.gxa.mapper"/>
	</mappers>
</configuration>
