body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:206px;
  width:591px;
  height:221px;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:0px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:0px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:36px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:36px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:36px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:36px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:36px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:72px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:72px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:72px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:72px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:72px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:72px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:108px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:108px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:108px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:108px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:108px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:108px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:144px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:144px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:144px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:144px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:144px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:144px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:26px;
  height:36px;
  text-align:center;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:180px;
  width:37px;
  height:36px;
  text-align:center;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:180px;
  width:70px;
  height:36px;
  text-align:center;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:180px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:180px;
  width:91px;
  height:36px;
  text-align:center;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:180px;
  width:190px;
  height:36px;
  text-align:center;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:180px;
  width:86px;
  height:36px;
  text-align:center;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:110px;
  width:56px;
  height:25px;
}
#u2295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:110px;
  width:200px;
  height:25px;
}
#u2296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:112px;
  width:61px;
  height:25px;
  font-size:18px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:2px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:150px;
  width:586px;
  height:1px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:167px;
  width:118px;
  height:23px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:250px;
  width:20px;
  height:16px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:284px;
  width:20px;
  height:16px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:320px;
  width:20px;
  height:16px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:357px;
  width:20px;
  height:16px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:391px;
  width:20px;
  height:16px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:441px;
  width:42px;
  height:9px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:441px;
  width:42px;
  height:9px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:440px;
  width:108px;
  height:13px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:165px;
  width:56px;
  height:25px;
}
#u2321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:165px;
  width:56px;
  height:25px;
}
#u2322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:165px;
  width:56px;
  height:25px;
}
#u2323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:165px;
  width:56px;
  height:25px;
}
#u2324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:214px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u2327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:158px;
  width:117px;
  height:38px;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u2329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:59px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:80px;
  width:133px;
  height:59px;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:129px;
  word-wrap:break-word;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:164px;
  width:18px;
  height:18px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:138px;
  width:28px;
  height:28px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
