body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7541 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:206px;
  width:517px;
  height:221px;
}
#u7542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7544 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:0px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7546 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7548 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:0px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7550 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:0px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7551 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7552 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u7556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7556 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:36px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7558 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:36px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7560 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:36px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7562 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:36px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7564 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:36px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u7568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7568 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:72px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7570 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:72px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7572 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:72px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7574 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:72px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7576 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:72px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u7580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7580 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:108px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7582 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:108px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7584 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:108px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7586 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:108px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7588 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:108px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u7592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7592 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:144px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7594 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:144px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7596 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:144px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7598 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:144px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7600 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:144px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u7602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:26px;
  height:36px;
  text-align:center;
}
#u7603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  word-wrap:break-word;
}
#u7604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7604 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:180px;
  width:36px;
  height:36px;
  text-align:center;
}
#u7605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:36px;
}
#u7606 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:180px;
  width:159px;
  height:36px;
  text-align:center;
}
#u7607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:155px;
  word-wrap:break-word;
}
#u7608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u7608 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:180px;
  width:108px;
  height:36px;
  text-align:center;
}
#u7609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u7610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7610 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:180px;
  width:97px;
  height:36px;
  text-align:center;
}
#u7611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u7612 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:180px;
  width:86px;
  height:36px;
  text-align:center;
}
#u7613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u7614 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:108px;
  width:56px;
  height:25px;
}
#u7614_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7615 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:108px;
  width:200px;
  height:25px;
}
#u7615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u7616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7616 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:110px;
  width:61px;
  height:25px;
  font-size:18px;
}
#u7617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u7618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u7618 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:150px;
  width:512px;
  height:1px;
}
#u7619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7620 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:167px;
  width:222px;
  height:23px;
}
#u7621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u7622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7623 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:250px;
  width:20px;
  height:16px;
}
#u7624 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7623_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7625 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:284px;
  width:20px;
  height:16px;
}
#u7626 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7625_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7627 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:320px;
  width:20px;
  height:16px;
}
#u7628 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7627_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7629 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:357px;
  width:20px;
  height:16px;
}
#u7630 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7629_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7631 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:391px;
  width:20px;
  height:16px;
}
#u7632 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7631_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7633 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:167px;
  width:56px;
  height:25px;
}
#u7633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u7635 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:441px;
  width:42px;
  height:9px;
}
#u7636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u7637 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:441px;
  width:42px;
  height:9px;
}
#u7638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u7639 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:440px;
  width:108px;
  height:13px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u7640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u7641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u7641 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:114px;
  width:16px;
  height:15px;
}
#u7642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u7643 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:214px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u7644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u7645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:100px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u7645 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:160px;
  width:151px;
  height:100px;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u7646 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u7647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u7647 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:180px;
  width:25px;
  height:20px;
}
#u7648 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
