body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:639px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:203px;
  width:589px;
  height:218px;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
  text-align:center;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:32px;
  height:33px;
  text-align:center;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:33px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:186px;
  height:33px;
  text-align:center;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:182px;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:150px;
  height:33px;
  text-align:center;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:33px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:0px;
  width:119px;
  height:33px;
  text-align:center;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:74px;
  height:33px;
  text-align:center;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:23px;
  height:36px;
  text-align:center;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:33px;
  width:32px;
  height:36px;
  text-align:center;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:33px;
  width:186px;
  height:36px;
  text-align:left;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:33px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:33px;
  width:119px;
  height:36px;
  text-align:center;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:33px;
  width:74px;
  height:36px;
  text-align:center;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:23px;
  height:36px;
  text-align:center;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:69px;
  width:32px;
  height:36px;
  text-align:center;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:69px;
  width:186px;
  height:36px;
  text-align:left;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:69px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:69px;
  width:119px;
  height:36px;
  text-align:center;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:69px;
  width:74px;
  height:36px;
  text-align:center;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:23px;
  height:36px;
  text-align:center;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  word-wrap:break-word;
}
#u1449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:105px;
  width:32px;
  height:36px;
  text-align:center;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:105px;
  width:186px;
  height:36px;
  text-align:left;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:105px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:105px;
  width:119px;
  height:36px;
  text-align:center;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:105px;
  width:74px;
  height:36px;
  text-align:center;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:23px;
  height:36px;
  text-align:center;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:141px;
  width:32px;
  height:36px;
  text-align:center;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:141px;
  width:186px;
  height:36px;
  text-align:left;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:141px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:141px;
  width:119px;
  height:36px;
  text-align:center;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:141px;
  width:74px;
  height:36px;
  text-align:center;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:23px;
  height:36px;
  text-align:center;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  word-wrap:break-word;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:36px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:177px;
  width:32px;
  height:36px;
  text-align:center;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:177px;
  width:186px;
  height:36px;
  text-align:left;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:177px;
  width:150px;
  height:36px;
  text-align:center;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:177px;
  width:119px;
  height:36px;
  text-align:center;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:177px;
  width:74px;
  height:36px;
  text-align:center;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:107px;
  width:56px;
  height:25px;
}
#u1483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:107px;
  width:200px;
  height:25px;
}
#u1484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:109px;
  width:102px;
  height:25px;
  font-size:18px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:2px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:149px;
  width:586px;
  height:1px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:164px;
  width:222px;
  height:23px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:247px;
  width:20px;
  height:16px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:281px;
  width:20px;
  height:16px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:317px;
  width:20px;
  height:16px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:354px;
  width:20px;
  height:16px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:388px;
  width:20px;
  height:16px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:162px;
  width:56px;
  height:25px;
}
#u1502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:162px;
  width:56px;
  height:25px;
}
#u1503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:162px;
  width:56px;
  height:25px;
}
#u1504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:438px;
  width:42px;
  height:9px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:9px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:438px;
  width:42px;
  height:9px;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:437px;
  width:108px;
  height:13px;
  font-family:'Verdana Normal', 'Verdana';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#434343;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#1E1E1E;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:214px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:37px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:157px;
  width:103px;
  height:37px;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:53px;
  background:inherit;
  background-color:rgba(27, 161, 226, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:83px;
  width:133px;
  height:53px;
  font-family:'Segoe UI Semibold Semibold', 'Segoe UI Semibold';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:22px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:160px;
  width:18px;
  height:22px;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:28px;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:136px;
  width:17px;
  height:28px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
